[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
opencv-python = "*"
numpy = "*"
django-crispy-forms = "*"
whitenoise = "==5.1.0"
gunicorn = "==19.9.0"
django-heroku = "*"
dj-database-url = "*"
azure-cognitiveservices-vision-face = "*"
pyheif = "*"
cloudinary = "*"
social-auth-app-django = "*"
stripe = "*"
python-dateutil = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
