{% extends 'base.html' %}
{% block title %}AeyeFittingとは{% endblock title %}

{% block content %}
<br>
<div class="jumbotron jumbotron-extend">
    <div class="container-fluid">
        <h1 class="display-5">AeyeFittingとは?</h1>
        <hr class="my-4">
        <p>自分の写真と買いたい服を用意するだけ。</p>
        <p>お店に行かず、試着イメージの画像を作成できるサービスです。</p>
        <p>通販で買うと失敗してしまう、でもお店に行くのはめんどくさい。</p>
        <p>そんな私の悩みから作成しましたが、同じような悩みを持っている人にぜひ使ってほしいです。</p>
        <p><a href="https://twitter.com/kayofujii1025">Twitter</a>にフィードバックお待ちしています。</p>
    </div>
</div>


{% endblock content %}