{% extends 'base.html' %}
{% block title %}注文完了{% endblock title %}
{% load static %}
{% block content %}
    <div class='row mt-5'>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <h2>ご注文ありがとうございました!</h2>
            <p>
                無制限試着プランのお申込が完了いたしました。<br>
                もし、不備があった場合、こちらにお問い合わせください。<br>
                <a href="mailto:kayosamu1025@gmail.com">kayosamu1025@gmail.com</a>
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock content %}