{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">AeyeFitting</h1>
        <p class="lead">買おうか迷っている服と、自分の写真を用意するだけ。お店に行かず、似合うかわかるAI試着サービス</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'index' %}"
            role="button">AI試着</a>
        </p>
    </div>
{% if user.is_authenticated %}
    ようこそ、{{ user.username }}さん。<br>
{% else %}
    <p><a href="{% url 'login' %}">ログイン</a></p>
    <p><a href="{% url 'signup' %}">新規登録</a></p>
{% endif %}

{% endblock content %}