{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
        <br/>
        <div class="jumbotron">
            <h1 class="display-4">AeyeFitting</h1>
            <p class="lead">買おうか迷っている服と、自分の写真を用意するだけ。</p>
            <p class="lead">お店に行かず、似合うかわかるAI試着サービス</p>
            {% comment %} <p class="lead">
                <a class="btn btn-primary btn-lg" href="{% url 'index' %}"
                role="button">AI試着</a>
            </p> {% endcomment %}
        </div>
        <div class='row mt-5'>
            <div class="col-md-4 text-center">
                <h3>サンプル</h3>
                <img class='img-thumbnail' src="/media/images/user_im.jpg"width="30%"/>
                <img class='img-thumbnail' src="/media/images/pro_im.jpg" width="50%"/>
            </div>
            <div class="col-md-4 text-center">
                <h3>試着写真</h3>
                <img class='img-thumbnail' src="/media/images/sample_upload.png" width="80%"/>
            </div>
        </div>
        <div class='row mt-5'>
            <div class="col-md-8">
                <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">アップロード</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="user_im" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">ユーザー画像を選択する</label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">アップロード</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="product_im" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">商品画像を選択する</label>
                        </div>
                    </div>
                    <p>※他の人の顔が写っていないものにしてください<br>
                        肌色のものが写っている場合、正しく顔が認識されない可能性があります。<br>
                    </p>
                    <div class="text-center">
                        <button class="btn btn-primary btn-lg" type="submit">試着する(画像は保存されません)</button>
                    </div>
                </form>
            </div>
        </div>
        {% comment %} <div class="row my-4">
            <div class="col-md-6">
                {% for im in uploaded_images %}
                    <div class="card mb-4 index">
                        <img class="img-thumbnail" src="{{ im.image.url }}" />
                    </div>
                {% endfor %}
            </div>
        </div> {% endcomment %}
    
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script>
        bsCustomFileInput.init();
    </script>
{% endblock content %}