{% extends 'base.html' %}
{% block title %}解約完了{% endblock title %}
{% load static %}
{% block content %}
    <div class='row mt-5'>
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center">
            <h2>解約が完了しました。</h2>
            <p>
                解約が完了しました。<br>
                もし、不備があった場合、こちらにお問い合わせください。<br>
                <a href="mailto:kayosamu1025@gmail.com">kayosamu1025@gmail.com</a>
            </p>
            <a class="nav-link active" href="{% url 'user_info' %}">マイページへ</a>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock content %}